extends ../../layouts/ui-kit
include ../../components/button/button

block title
  title Cards


block head
    link(rel="stylesheet" href="colorType.css")


block content
  .button
   +button
   
   
   

block script
    script(src="./colorType.js")