$dark100: #1f2041;
$dark75: rgba(#1F2041,.75);
$dark50: rgba(#1F2041,.50);
$dark25: rgba(#1F2041,.25);
$dark5: rgba(#1F2041,.05);
$purple: #bc9cff;
$green: #6fcf97;
$primary: #BC9CFF;
$secondary: #6FCF97;
$gradientPrimary: linear-gradient(180deg, $primary 0%, #8BA4F9 100%);
$gradientSecondary: linear-gradient(180deg, $secondary 0%, #66D2EA 100%);
$gradientPrimarySemitransparent: linear-gradient(180deg, rgba($primary, .5) 0%, rgba(139, 164, 249, .5) 100%);
$HTMLsize: 14px;
