extends ../../layouts/ui-kit
include ../../components/button/button
include ../../blocks/formSearch/formSearch

block title
  title Cards


block head
    title Cards
    link(rel="stylesheet" href="cards.css")


block content
  .box-form
   +form-search
   
   
   

block script
    script(src="./cards.js")